page-title {

.col{
  text-align: center !important; 
}
.row{
height: 100%;
  margin-top: 160%;
  position: relative;
  /* margin-bottom: 0; */
}

.fab-title{
  padding-bottom:20px;
}
.logo{
  width: 20%;
    font-size: 16px;
    margin: 0 auto;
    margin-top: 16em;
    margin-bottom: 2em;
    height: 50px;
    text-align: center;
  
}
}

